*{
    margin: 0;
    padding: 0;
    background-color: gray;
}

.mainHeading{
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.mainTable{
    /* border: 1px solid white; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
table, th, td{
    border: 1px solid white;
}

.mainTable tr td{
    text-align: center;
}

.mainForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}
.mainForm input{
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: white;
}

.mainTable .edit-btn{
    cursor: pointer;
    padding: 10px 10px;
    border: none;
    background-color: green;
    transition: all 200ms ease-in;
    border-radius: 5px;
}

.mainTable .edit-btn:hover{
    background-color: rgb(28, 199, 28);
}

.mainTable .delete-btn{
    cursor: pointer;
    padding: 10px 10px;
    border: none;
    background-color: rgba(255, 0, 0, 0.32);
    transition: all 200ms ease-in;
    border-radius: 5px;
}

.mainTable .delete-btn:hover{
    background-color: red;
}


.main-btn{
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    background-color: white;
    transition: all 200ms ease-in;
    border-radius: 20px;
}

.main-btn:hover{
    background-color: rgba(255, 255, 255, 0.393);
}

